body {
    background: #f9f9f9;
      box-sizing: border-box;
  }
  
  .wrap {
    margin: 0 auto;
    max-width: 640px;
  }
  
  .cards-table {
    width: 100%;
  
    thead {
      display: none;
    }
  
    tr {
        display: block;
        margin-bottom: 1.5rem;
      padding: 1rem 0.5rem 0.5rem 1rem;
      background-color: transparentize( white, 0.15 );
      box-shadow: 0 0 1rem transparentize( black, 0.9 );
    }
  
    td {
        display: inline-block;
        margin: 0 0.5rem 0.5rem 0;
        padding: 0.5rem;
        text-align: left;
        background-color: white;
        border: 1px solid transparentize( #58C25F, 0.5 );
  
      &:before {
        float: left;
        margin: -0.5rem 0.5rem -0.5rem -0.5rem;
        padding: 0.625rem 0.5rem 0.625rem;
        font-size: 0.75em;
        font-weight: bold;
        background: transparentize( #58C25F, 0.9 );
        color: #58C25F;
      }
  
      &:before {
        content: attr(data-label) ": ";
      }
  
      &[data-label*="Column D"] {
        display: block;
        float: none;
  
        &:before {
          display: block;
          margin-right: -0.5rem;
          margin-bottom: 0.5rem;
          float: none;
        }
      }
  
      &:empty {
        display: none;
      }
    }
  }